#civilizationMenuDiv {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: inline-block;
    margin: auto;
    max-height: 75%;
    height: auto;
    width: auto;
    max-width: 80%;
    vertical-align: middle;
}

#civilizationMenuDiv p{
    position: absolute;
    font-size: 4vh;
    color: #49392d;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    transform: translateY(-100%);
}

#civilizationMenuImg {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.CivilizationButton {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    cursor: hand;
    top: 20%;
}

.CivilizationButton:hover {
    box-sizing: content-box box-shadow: 0px 0px 50px black;
}