#civilizationMenuDiv {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
    vertical-align: middle;
}

#civilizationMenuImg {
    position: relative;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.CivilizationButton {
    display: inline-block;
    position: absolute;
    height: auto;
    cursor: pointer;
    cursor: hand;
}