#civilizationMenuDiv {
    display: inline-block;
    max-width: 90vw;
    max-height: 98vh;
    vertical-align: bottom;
    position: relative;
    overflow: hidden;
}

#civilizationMenuImg {
    display: block;
    margin-bottom: 0px;
    resize: both;
    max-height: 98vh;
    max-width: 100%;
    width: auto;
}

.CivilizationButton {
    display: inline-block;
    position: absolute;
    resize: both;
    height: auto;
    cursor: pointer;
    cursor: hand;
}

.MapButton {
    position: fixed;
    left: -1vw;
    top: 5%;
    max-width: 15vw;
    max-height: 15vh;
    resize: both;
    cursor: pointer;
    cursor: hand;
    z-index: 100;
}