#cosmogonyDiv {
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    text-align: center;
}

#cosmogonyText {
    position: absolute;
    height: auto;
    max-width: 60%;
    width: auto;
    left: 15%;
    top: 10%;
    display: block;
}

#cosmogonyText p {
    font-size: 1.4vw;
    text-align: justify;
}

#cosmoNext {
    position: absolute;
    max-width: 5%;
    width: auto;
    height: auto;
    margin: auto;
    right: 0%;
    top: 0;
    bottom: 0;
    cursor: pointer;
    cursor: hand;
}

#cosmoPrev {
    position: absolute;
    max-width: 5%;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    width: auto;
    height: auto;
    margin: auto;
    left: 0%;
    top: 0;
    bottom: 0;
    cursor: pointer;
    cursor: hand;
}

#rewind {
    position: absolute;
    max-width: 5%;
    width: auto;
    height: auto;
    margin: auto;
    right: 0%;
    top: 0;
    bottom: 0;
    cursor: pointer;
    cursor: hand;
}
/*tirar quando juntar os códigos*/

.Disabled {
    pointer-events: none;
    opacity: 0.4;
}