#civilizationCulture {
    display: block;
    width: 80vw;
    height: 93vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    vertical-align: middle;
    position: relative;
    overflow: visible;
    text-align: center;
}

.CultureButton {
    position: absolute;
    display: inline-block;
    max-width: 20%;
    max-height: 10%;
    pointer-events: auto;
    cursor: pointer;
    cursor: hand;
    margin: auto;
    z-index: 1;
    right: 3%;
    transform: translateX(50%);
}

#culturalManifestationButton {
    top: 5%;
}

#subsistenceMethodButton {
    top: 20%;
}

#socialStructureButton {
    top: 35%;
}

.DisabledCultureButton {
    pointer-events: none;
}

.CultureDiv {
    background-image: url(../Conteudo/Imagens/FundoConteudo.png);
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    pointer-events: none;
}

.CultureDiv p {
    font-size: 3vh;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    max-height: 80%;
    max-width: 70%;
    text-align: justify;
    overflow: visible;
    font-family: Playfair, serif;
    color: #49392d;
}

.dropCap {
    display: inline;
    font-size: 12vh;
    margin: 0;
    font-family: Rothenburg, cursive;
    vertical-align: middle;
    float: left;
    margin-bottom: -1vh;
    padding: auto;
}