#civilizationCulture {
    display: block;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.CultureButton {
    position: absolute;
    display: inline-block;
    resize: both;
    width: auto;
    height: 10%;
    cursor: pointer;
    cursor: hand;
    margin: auto;
    z-index: 1;
    top: -5%;
}

#culturalManifestationButton{
    right: 20%;
}

#subsistenceMethodButton{
    right: 10%;
}

#socialStructureButton{
    right: 30%;
}

.DisabledCultureButton{
    pointer-events: none;
}

.CultureDiv {
    background-image: url(http://demilked.uuuploads.com/free-paper-textures/free-paper-texture-2.jpg);
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: gray;
    width: 500px;
    height: 500px;
    z-index: 0;
    overflow: visible;
}

.CultureDiv p {
    font-family: sans-serif;
    font-size: 1.5vw;
    color: white;
    max-width: 300px;
    max-height: 300px;
    width: 80%;
    height: 80%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: left;
}