.progress {
    height: 10vh;
    width: 70vw;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-width: 20px;
    -moz-border-image: url(../Conteudo/Imagens/frame_border.jpg) 20 round;
    -webkit-border-image: url(../Conteudo/Imagens/frame_border.jpg) 20 round;
    -o-border-image: url(../Conteudo/Imagens/frame_border.jpg) 20 round;
    border-image: url(../Conteudo/Imagens/frame_border.jpg) 20 round;
    border-style: solid;
}

.progress > svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
    z-index: 0;
}

#initialDiv {
    overflow: visible;
    font-family: Playfair, serif;
    color: #49392d;
    font-size: 12vh;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../Conteudo/Imagens/FundoConteudo.png);
    background-size: 100% 100%;
    background-position: center;
    background-color: transparent;
    position: fixed;
    z-index: 2000;
}

#initializerBackground {
    position: absolute;
    margin: auto;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
}

#initialDiv p {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-25%);
    padding-left: 1vw;
    -webkit-transform: translateY(-25%);
}

.initialDropCap {
    font-family: Playfair, serif;
    color: #49392d;
    display: inline;
    font-size: 18vh;
    margin: 0;
    font-family: FleurCorner;
}

#compass {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: 90%;
    z-index: 1;
}