* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-padding-start: 0px;
}

#mainDiv {
    background-image: url("http://1-background.com/images/nature/images/wood-walnut-background-tile.jpg");
    background-size: 25%;
    width: 100vw;
    height: 100vh;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    overflow: hidden;
}

.progress {
    vertical-align: middle;
    background-color: grey;
}

.progress > svg {
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    margin: 0 auto;
    height: 5%;
    display: block;
}