@font-face {
    font-family: Rothenburg;
    src: url(../Conteudo/rothenbg.ttf);
}

@font-face {
    font-family: Playfair;
    src: url(../Conteudo/Playfair.otf);
}

@font-face {
    font-family: FleurCorner;
    src: url(../Conteudo/FleurCorner.ttf);
}

* {
    outline: 1px solid transparent;
    margin: 0;
    padding: 0;
    font-family: Playfair, serif;
}

#mainDiv {
    background-image: url(../Conteudo/Imagens/Background.png);
    background-position: center;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

#bodyDiv {
    position: absolute;
    width: 100vw;
    height: 92vh;
    bottom: 0;
    padding-bottom: 1vh;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
}

#contentDiv {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100% 100%;
    vertical-align: middle;
}

#bg {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    vertical-align: middle;
}

.Disabled {
    pointer-events: none;
    opacity: 0.5;
}