#soundButton {
    float: right;
    height: 100%;
    width: auto;
    margin-right: 1%;
    cursor: hand;
    cursor: pointer;
}

#header {
    position: fixed;
    z-index: 100;
    height: 40px;
    width: 100%;
    margin-bottom: 1%;
    padding-top: 1%;
}

#MenuButton {
    float: left;
    display: inline-block;
    margin-left: 1%;
    height: 100%;
    cursor: hand;
    cursor: pointer;
    margin-right: 3%;
}

#menuDiv {
    padding: 1%;
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(-100%);
    width: 50%;
    max-width: 200px;
    height: 50%;
    max-height: 300px;
    background-color: grey;
    z-index: 101;
    border-radius: 10px;
}

#menuDiv ul {
    margin-top: 7%;
    width: 100%;
    height: 70%;
    vertical-align: middle;
}

#MenuCloseButton {
    cursor: pointer;
    cursor: hand;
    display: inline-block;
    height: 10%;
}

.menuRow {
    list-style-image: none;
    display: inline-block;
    margin: 0 auto;
    width: 49%;
    margin-bottom: 1%;
    text-align: center;
    cursor: hand;
    cursor: pointer;
    right: 0;
    left: 0;
    vertical-align: middle;
}

.Disabled {
    pointer-events: none;
    opacity: 0.6;
}

.menuRow:hover {
    background-color: blue;
}

#menuDiv h1 {
    top: 10%;
    display: inline-block;
    margin: auto;
    text-align: center;
    font-size: 20px;
    width: 100%;
    vertical-align: middle;
    margin-top: 5%;
}

.menuRow p {
    position: relative;
    display: inliblock;
    vertical-align: middle;
}

.menuIcon {
    display: block;
    width: 50%;
    margin: auto;
}