nav {
    float: left;
    display: inline-block;
    height: 100%;
    width: 70%;
    z-index: 1;
}

.NavSeparator {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5vw;
    height: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
}

nav ul {
    height: 100%;
    width: auto;
    z-index: 1;
}

.navLi {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    height: 100%;
    width: auto;
    margin-right: 0.5vw;
    text-align: center;
    z-index: 1;
}

.navItem {
    vertical-align: top;
    cursor: pointer;
    cursor: hand;
    max-height: 110%;
    width: auto;
    z-index: 1;
}

.CurrentNav {
    cursor: auto;
}