#navigationDiv {
    float: left;
    display: inline-block;
    height: 100%;
    width: 50%;
}

.NavSeparator {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2%;
    height: 50%;
}

#navigationDiv ul {
    height: 100%;
    width: auto;
}

.navLi {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    height: 100%;
    width: auto;
    margin-right: 2%;
    text-align: center;
}

.navItem {
    vertical-align: middle;
    cursor: pointer;
    cursor: hand;
    max-height: 100%;
}