.God {}

#civilizationTeogony {
    margin: 0 auto;
    display: block;
    width: 75vw;
    max-width: 500px;
    height: 12vh;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

#nextButton {
    position: absolute;
    resize: both;
    max-height: 30%;
    width: auto;
    height: auto;
    right: 0%;
    top: 35%;
    cursor: pointer;
    cursor: hand;
}

#previousButton {
    position: absolute;
    resize: both;
    max-height: 30%;
    width: auto;
    height: auto;
    left: 0%;
    top: 35%;
    cursor: pointer;
    cursor: hand;
}

#descriptionDiv {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    position: absolute;
    border-radius: 10px;
    display: block;
    text-align: left;
    padding: 1%;
    padding-left: 2%;
    background-color: gray;
    max-width: 400px;
    max-height: 100%;
    width: auto;
    height: auto;
    top: 5%;
    left: 10%;
    right: 10%;
    bottom: 5%;
    bottom: 2.5%;
}

#descriptionDiv p{
    margin-top: 1%;
    margin-bottom: 1%;
}

#godImage {
    margin: 0 auto;
    display: block;
    resize: both;
    max-height: 75vh;
    max-width: 75vw;
    width: auto;
    height: auto;
}