#civilizationTeogony {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 90%;
    text-align: center;
    position: relative;
}

#nextButton {
    position: absolute;
    max-width: 7%;
    width: auto;
    height: auto;
    margin: auto;
    right: 0%;
    top: 0;
    bottom: 0;
    cursor: pointer;
    cursor: hand;
}

#previousButton {
    position: absolute;
    max-width: 7%;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    width: auto;
    height: auto;
    margin: auto;
    left: 0%;
    top: 0;
    bottom: 0;
    cursor: pointer;
    cursor: hand;
}

#textDiv {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    position: absolute;
    display: block;
    text-align: left;
    padding: 1%;
    padding-left: 2%;
    width: 35%;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 7%;
}

#descriptionDiv {
    height: 100%;
    width: 100%;
}

#descriptionDiv p {
    padding-top: 4vh;
    padding-bottom: 5%;
    color: #49392d;
    font-family: Playfair;
    font-size: 3vh;
    line-height: 4.5vh;
    text-align: justify;
    width: 95%;
}

#civilizationTeogony h1 {
    width: 100%;
    padding-right: 35px;
    color: #49392d;
    font-family: Playfair;
    text-align: center;
    font-size: 6vh;
    margin: auto;
}

#godImage {
    position: absolute;
    width: auto;
    max-height: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
}

#godImgDiv {
    position: absolute;
    left: 10%;
    width: 45%;
    height: 100%;
    overflow: visible;
}