
* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-padding-start: 0px;
}


h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

#mainDiv{
    background-image: url("http://1-background.com/images/nature/images/wood-walnut-background-tile.jpg");
    width: 100vw;
    height: 100vh;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#mapDiv{
    display: inline-block;
    max-width: 90vw;
    vertical-align: middle;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#civilizationMenu{
    display: inline-block;
    
    max-width: 90vw;
    max-height: 98vh;
    vertical-align: bottom;
    position: relative;
    overflow: hidden;
}

#civilizationMenuImg{
    display: block;
    margin-bottom: 0px;
    resize: both;
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
}

.Map{
    resize: both;
    max-height: 90vh;
    max-width: 100%;
    width: auto;
    height: auto;
}

.MapMarker{
    display: inline-block;
    position: absolute;
    resize: both;
    width: auto;
    height: auto;
    max-width: 7.5%;
    max-height: 7.5%;
    top: 0%;
    left: 0%;
}

#slider{
    display: inline-block;
    margin: auto;
    left: 10%;
    right: 10%;
    width: 80%;
    -webkit-backface-visibility: hidden;
}

#sliderDiv{
    display: block;
 text-align: center;
 width: 100%;
 margin: auto;
}
