#civilizationMenuDiv{
    display: inline-block;
    max-width: 90vw;
    max-height: 98vh;
    vertical-align: bottom;
    position: relative;
    overflow: hidden;
}

#civilizationMenuImg{
    display: block;
    margin-bottom: 0px;
    resize: both;
    max-height: 98vh;
    max-width: 100%;
    width: auto;
    
}

.MapButton{
    position: fixed;
    left: -20px;
    top: 5%;
    max-width: 15vw;
    max-height: 15vh;
    resize: both;
}